/* Steve Sajeev, Seminole State College, COP2831, Rebekah Rosario */


/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');


#container {
    z-index: -1;
}

#banner {
    position: absolute;
    top: 50%;
    height: 225px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 210px;
    background-color: rgba(215,113,59, 0.9);
    font-family: "Yuji Boku", serif;
    color: #FFE9CA;
}

#navigation {
    background-color: rgba(86, 33, 81, 0.9)
}

#city {
    font-size: 9rem;
    margin-top: -40px;
}

#country {
    font-size: 4.5rem;
    margin-top: -50px;
}
